* {
    padding: 0;
    top: 0;
    left: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    width: 98.79vw;
    max-width: 100vw;
}

/* HEADER */
#cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #000001;
}

header h2 {
    color: #fff;
    font-size:36px;
}

.search {
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0);
    background-color: white;
    border-radius: 10px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem;
    color: rgb(0, 0, 0);
    outline: none;
    text-align: center;
}

.search::placeholder {
    color: rgb(0, 0, 0);
}

.search:hover {
    cursor: pointer;
}

#principal {
    width: 98%;
    margin: auto;
}

/* MAIN */
#principal {
    width: 98%;
    margin: auto;
}

.barra {
    background-color: whitesmoke;
}

.items-barra {
    display: flex;
    margin-left: 50%;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

#items {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    text-align: center;
}

.cards {
    width: 90%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.items-cards {
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    width: 100%;
    height: 90%;
    text-align: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:400px
}

.img-items-cards {
    width: 90%;
    height: 200px;
    margin: auto;
}
.img-items-modal {
    width: 90%;
    margin: auto;
    object-fit: contain;
}

.items-cards h2 {
    margin-top:7%
}

.items-cards p,
a {
    position: relative;
    top: -7%;
    color: black;
}

/* MODAL */



.modal-contenido {
    background-color: rgb(246, 246, 246);
    width: 40%;
    padding: 10px 20px;
    margin: auto;
    position: relative;
    top: 100px;
    border-radius: 5px;
    text-align: center;
}

.contenido-cuerpo {
    display: flex;
    flex-direction: column
}



#miModal {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

#miModal .boton-cerrar {
    font-size: 20px;
    padding: 8px 5px;
    left: 50%;
    top: -1px;
    border-radius: 100%;

}

#miModal .agregar-carrito {
    font-size: 20px;
    padding: 10px;
    left: 0;
    border-radius: 100%;

}

#miModal p {
    padding: 20px
}

#miModal:target {
    opacity: 1;
    pointer-events: auto;
}