

.nav-center{
    margin-left: 50%;
}

.card{
    width:90%;
    margin:10px auto;
    
}

.body{
    width: 100%;
    margin-left:10%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.cuerpo-card .btn{
    float:right
}

.imagen-card{
    width: 150px;
    height: 130px;
}

.cuerpo-img,.cuerpo-card,.cuerpo-boton{
    width: 33.33%;
}