* {
    padding: 0;
    top: 0;
    left: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    width: 98.79vw;
    max-width: 100vw;
}

/* HEADER */
#cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #000001;
}

header h2 {
    color: #fff;
    font-size:36px;
}

.search {
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0);
    background-color: white;
    border-radius: 10px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem;
    color: rgb(0, 0, 0);
    outline: none;
    text-align: center;
}

.search::placeholder {
    color: rgb(0, 0, 0);
}

.search:hover {
    cursor: pointer;
}

#principal {
    width: 98%;
    margin: auto;
}

/* MAIN */
#principal {
    width: 98%;
    margin: auto;
}

.barra {
    background-color: whitesmoke;
}

.items-barra {
    display: flex;
    margin-left: 50%;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}


.carruselPrincipal{
    display: block;
    width: 90vw;
    margin: auto;
}

 .img-header{
    width: 100%;
    max-width: 600px;
    max-height: 500px;
    height:500px;
    object-fit: cover;
    margin:  auto; 
} 

.nav-center{
    margin-left: 50%;
}


.cardsPrincipal{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.img-card-1{
    width:500px;
    object-fit: cover;
    padding: 50px;
}